@model Bootstrapsdemo.tbl_Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.E_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_dept.D_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_dept.D_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Eid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
