@model IEnumerable<Bootstrapsdemo.tbl_dept>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.D_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.D_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
         
        </td>
    </tr>
}

</table>
